:root{
    --verde-escuro:#2f5d34;
    --verde-medio:#4f8a4b;
    --verde-claro:#dff3df;
    --creme:#fffdf6;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(
        180deg,
        #e8f7e8,
        #f8fff8
    );
    display:flex;
    justify-content:center;
    padding:30px;
}

.container{
    width:100%;
    max-width:700px;
    background:var(--creme);
    padding:30px;
    border-radius:25px;
    box-shadow:0 10px 25px rgba(0,0,0,0.10);
}

header{
    text-align:center;
    margin-bottom:25px;
}

header h1{
    color:var(--verde-escuro);
    margin-bottom:10px;
}

.subtitulo{
    color:var(--verde-medio);
    font-weight:bold;
    margin-bottom:10px;
}

.descricao{
    color:#555;
}

.config-fazenda{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

input,
button{
    padding:12px;
    border-radius:12px;
    border:1px solid #ccc;
    flex:1;
}

button{
    background:var(--verde-escuro);
    color:white;
    border:none;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    transform:scale(1.03);
}

.dashboard{
    display:flex;
    gap:15px;
    margin-bottom:20px;
}

.card{
    flex:1;
    background:white;
    padding:20px;
    text-align:center;
    border-radius:20px;
    border-bottom:6px solid #ccc;
}

.icone{
    font-size:40px;
    margin:10px 0;
}

.status-box{
    text-align:center;
    padding:18px;
    border-radius:15px;
    font-weight:bold;
    background:#f0f0f0;
}

footer{
    margin-top:20px;
    text-align:center;
    color:var(--verde-escuro);
    font-size:14px;
}

.sucesso{
    border-color:#2ecc71;
    background:#e9fff0 !important;
}

.alerta{
    border-color:#f39c12;
    background:#fff6e5 !important;
}
